body {
  margin: 0;
  overflow: hidden;
}

#root,
.appRoot {
  height: 100%;
}

.appRoot.appRoot {
  background: var(--uitk-container-background-medium);
  /* Vertical align */
  justify-content: center;
}

.uitk-light {
  color-scheme: light;
}

.uitk-dark {
  color-scheme: dark;
}

.uitk-dark .appRoot {
  color: var(--uitk-text-primary-foreground);
}
