#root,
.appRoot {
  height: 100%;
}

body {
  background: var(--figma-color-bg);
  font-family: "Open Sans";
  margin: 0;
  overflow: hidden;
}

.figma-light {
  color-scheme: light;
}

.figma-dark {
  color-scheme: dark;
}

.uitk-density-touch.uitk-density-touch,
.uitk-density-low.uitk-density-low,
.uitk-density-medium.uitk-density-medium,
.uitk-density-high.uitk-density-high {
  /* This shouldn't be defined 4 times */
  --uitk-typography-fontFamily: "Open Sans";
}

.appRoot.appRoot {
  background: var(--uitk-container-background-medium);
  /* Vertical align */
  justify-content: center;
}

.uitk-dark .appRoot {
  color: var(--uitk-text-primary-foreground);
}

.tabs-view {
  height: 100%;
}

.language-formField {
  --uitkFormField-width: 160px;
}

.advanced-view {
  flex-grow: 1;
  min-height: 0;

  height: 100%;
  margin-block: var(--uitk-size-unit);
  margin-inline: calc(var(--uitk-size-unit) * 1);
}

.filterListInput {
  --uitkInput-background: var(--uitk-editable-background-high);
}

.text-source-list,
.text-source-placeholder {
  flex-grow: 1;
  min-height: 0px;
}

.text-source-placeholder {
  border-color: var(--uitk-container-borderColor-medium);
  border-style: var(--uitk-container-borderStyle);
  border-width: var(--uitk-container-borderWidth);
}
